{% extends "base.html" %}
{% block content %}

<canvas></canvas>

<div id='div_content'>

  <h1 align="center">Riot Predictor</h1>
  <p>Hello this is home</p>

  <br>

  <div class="row" id="intro_left">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2">
              <p>search bow will go here?? maybe</p>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="col-md-12">
        <h3>Goal</h3>
        <p>
          <!-- <ul> -->
            <li>Predict the Riots before they actually happen</li>
          <!-- </ul> -->
        </p>
    </div>

  </div>

  <br>

</div>


<script>
$('#intro_left').addClass('animated bounceInLeft');
</script>

{% endblock %}