{% extends "base.html" %}
{% block content %}

<canvas></canvas>

<div id='div_content'>

  <h1 align="center">Riot Predictor</h1>
  <!-- <p>Hello this is home</p> -->

  <br>

  <div class="row" id="intro_left">
    <div class="col-md-12">
        <h3>Goal</h3>
        <p>
            <li>Predict the Riots before they actually happen</li>
        </p>
    </div>

    <div class="col-md-6">
        <a class="btn btn-default" href="#" role="button">Use Articles</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-default" href="{{ url_for('twitter.home') }}" role="button">Use Twitter</a>
    </div>

  </div>

  <br>

</div>


<script>
$('#intro_left').addClass('animated bounceInLeft');
</script>

{% endblock %}